.appointment-tooltip {
	text-align: left;
}
.dx-scheduler-appointment-content {
	background-color: rgba(245, 244, 236, 1);
	border-left: 10px solid rgba(209, 186, 125, 1);
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	color: rgba(29, 28, 28, 1);
}
