.cover {
	background: rgb(233, 233, 233);
	width: 100%;
	height: 250px;
	margin-bottom: 24px;
	border-radius: 10px;
	text-align: center;
	padding-top: 25px;
}
.picked-cover-image {
	background: rgba(233, 233, 233, 1);
	width: 100%;
	height: 250px;
	margin-bottom: 24px;
	border-radius: 10px;
	text-align: center;
	z-index: -1;
}
.md-form .ant-input {
	border-radius: 30px;
}
.md-form .ant-select:not(.ant-select-customize-input) .ant-select-selector {
	border-radius: 20px;
}

.create_modal > .ant-modal-content {
	border-radius: 20px;
}
.create_modal .ant-modal-header {
	border-radius: 20px 20px 0px 0px;
}

/* accommodates: (5) [{…}, {…}, {…}, {…}, {…}]
booking: "616da1fe8b3ccc085706eaeb"
bookings: [{…}]
cover: {_id: '61542bd5edf9c705d38fefd2', name: 'meeting_room.jpg', alternativeText: '', caption: '', hash: 'meeting_room_a637c65157', …}
createdAt: "2021-09-29T09:17:25.835Z"
description: "This modern and big meeting space is the perfect\nopportunity to host your next corporate meeting\nfor a large group of people."
id: "61542f250477f00603c8a771"
locked: false
maxHours: 2
maxUsers: 10
name: "Meeting Room"
published_at: "2021-09-29T09:18:14.378Z"
roomId: "meeting-room"
rule: [{…}]
status: true
type: "For Meeting" */