.facilities-card .ant-card {
    border-radius: 20px !important;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 400px;
}

.facility-title {
    font-weight: 900;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.facilities-edit {
    float: right;
}

.facility-detail {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.facility-limit {
    font-size: 18px;
    line-height: 15px;
}

.facility-image {
    width: 100%;
    height: 250px;
    border: 1px solid #dddddd;
    color: #adadad;
    border-radius: 20px;
    text-align: center;
}

.facility-cover {
    border-radius: 20px 20px 0px 0px !important;
    height: 250px !important;
}
