.zone-build {
  padding: 10px;
}
.residence {
  padding: 10px;
}
.address {
  font-size: 18px;
  float: left;
  width: 250px;
  height: 190px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}
.address-empty {
  font-size: 18px;
  float: left;
  width: 250px;
  height: 190px;
  background-color: #d0d0ce;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}
.more {
  float: right;
}
.room-info {
  font-size: 16px;
}
.room-empty {
  margin-top: 30px;
  text-align: center;
  color: #706f6c;
}
