.side-menu {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: rgba(32, 38, 58, 1);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 300px;
}
.menu-group {
  margin-top: 65px;
  margin-bottom: 65px;
  text-align: left;
}
.group-name {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  padding-left: 24px;
}
.menu-group .ant-menu-item a {
  color: white;
}
.menu-group .ant-menu-item-only-child a {
  color: rgba(32, 38, 58, 1);
}
.menu-group .ant-menu-item-selected a {
  color: rgba(216, 170, 129, 1);
  font-weight: 900;
}
.menu-group .ant-menu-item a:hover {
  color: rgba(216, 170, 129, 1);
}
.menu-group .ant-menu-inline {
  border: 0;
  color: rgba(255, 255, 255, 1);
}
.menu-group .ant-menu-inline .ant-menu-item::after {
  border: 0;
}

.menu-group .ant-menu-sub {
  border: 0;
  color: rgba(255, 255, 255, 1);
}
.menu-group .ant-menu-submenu-arrow {
  color: rgba(255, 255, 255, 1);
}
.group-name {
  margin-top: 20px;
  margin-bottom: 20px;
}
.logout {
  margin-left: 24px;
  align-items: center;
  height: 40px;
}
.menu-txt {
  float: left;
  padding-left: 10px;
  padding-top: 12px;
  height: 40px;
}
.logout a {
  color: #fff;
}
.logout a:visited {
  color: #fff;
}
.logout a:hover {
  color: rgba(216, 170, 129, 1);
}

/* icons style */

.menu_icon {
  width: 22px;
  height: 22px;
}
