/*@import "~antd/dist/antd.css";*/

@font-face {
    font-family: "SukhumvitSet";
    src: local("SukhumvitSet"), url(./fonts/SukhumvitSet-Text.ttf) format("truetype");
}

.body {
    font-family: SukhumvitSet !important;
}
